@font-face {
  font-family: 'Strawford';
  src: url('../public/static/fonts/Strawford-Regular.woff2') format('woff2'),
    url('../public/static/fonts/Strawford-Regular.woff') format('woff'),
    url('../public/static/fonts/Strawford-Regular.eot') format('eot'),
    url('../public/static/fonts/Strawford-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: regular;
}

@font-face {
  font-family: 'Strawford';
  src: url('../public/static/fonts/Strawford-Medium.woff2') format('woff2'),
    url('../public/static/fonts/Strawford-Medium.otf') format('otf'),
    url('../public/static/fonts/Strawford-Medium.ttf') format('ttf');
  font-weight: 500 600 700;
  font-style: medium;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Strawford', Helvetica, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }
}